* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

button {
    background-color: #7289DA;
    color: #fff;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}